body {
    /*font-family: 'Mate', serif;*/
    font-family: 'PT Serif', serif;
    background-color: #F0F0F3;
    color: #363636;
}

#wrapper {
    width: 100%;
    margin: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden !important;
    position: relative;
}

#content {
    max-width: 750px;
    margin: 50px auto;
    padding: 0;
}

section {
    display: block;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 32px;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0.08em #cccccc solid;
}

p {
    line-height: 140%;
    font-size: 16px;
}

a {
    color: #865F60;
    text-decoration: none;
}

@media screen and (max-width: 950px) {

    #content {
        width: 90%;
        margin: auto;
        margin-top:25px
    }

    h1 {
        font-size:40px
    }

    h2 {
        font-size:28px
    }

    p {
        font-size: 18px;
        margin-bottom:25px
    }

}